# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\fko2247103\OneDrive - ooharastudent\C++\川野先生\SkeletonProject codebase based on best match to current usage at 2022/11/18
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

